config STMVL53L0
        tristate "STM VL53L0 Ranging Sensor"
        depends on I2C
        help
          Say Y here if you want to enable the key chord driver
          This is a Time-of-Flight (ToF) laser-ranging sensor, provide
          the distance from obstacle.

          To compile this driver as a module, choose M here: the module will
          be called vl53L0.
